@model PostViewModel
@using WUSTZone.Domain.Enums;
@{
    ViewData["Title"] = "发布留言";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h4 class="mb-3">发布新留言</h4>
        <form method="post" asp-controller="post" asp-action="add" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-9 mb-3">
                    <label asp-for="Title">标题</label>
                    <input type="text" class="form-control" asp-for="Title" placeholder="在此输入标题" required>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="Category">类别</label>
                    <select class="custom-select d-block w-100" asp-for="Category" asp-items="@Html.GetEnumSelectList<CategoryEnum>()" required>
                        <option value="">选择类别</option>
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Content">内容</label>
                <textarea class="form-control" rows="10" asp-for="Content" placeholder="在此输入内容"></textarea>
            </div>


            <div class="mb-3">
                <label asp-for="Photos">附图 <span class="text-muted">(可选)</span></label>
                <div class="custom-file">
                    <input asp-for="Photos" class="form-control custom-file-input" />
                    <label class="custom-file-label">可选择多张图片...</label>
                </div>
            </div>

            <hr class="mb-4">

            <button class="btn btn-primary btn-lg btn-block" type="submit">发布</button>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                // 多文件
                var fileLabel = $(this).next(".custom-file-label");
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html("您已选择了" + files.length + "个文件");
                } else {
                    fileLabel.html(files[0].name);
                }
            })
        });
    </script>
}