@model IndexViewModel
@{
    ViewData["Title"] = "主页";
    ViewData["UserPhotoPath"] = "/uploads/user_photo/" + (Model.PhotoPath ?? "default.png");
}

<div class="text-center">
    <h1 class="display-4">欢迎来到 WUST Zone</h1>
</div>
