@model List<WUSTZone.Domain.Entityies.Post>
@{
    ViewData["Title"] = "闲聊";
}

<div class="text-center">
    <h1 class="display-4">欢迎来到 WUST Zone</h1>
</div>
<br />
<ul class="nav nav-pills bg-light">
    <li class="nav-item">
        <a class="nav-link " data-toggle="pill" asp-controller="Home" asp-action="Index">全部留言</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="pill" asp-controller="Home" asp-action="Selected">精选留言</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="pill" asp-controller="Home" asp-action="Gossip">闲聊</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="pill" asp-controller="Home" asp-action="SeekHelp">求助</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" asp-controller="Home" asp-action="TreeHole">树洞</a>
    </li>
    </li>
</ul>

@* 卡片 *@
@foreach (var post in Model)
{
    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@post.Title</h4>
            <p class="card-text">@post.Condensed...</p>
            <a href="#" class="card-link">点赞(@post.LikeCount)</a>
            <a href="#" class="card-link">评论(@post.CommentCount)</a>
        </div>
    </div>
}